.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.frame {
  background-color: #0b2434;
  width: 360px;
  height: 380px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-card {
  background-color: #f5f5f5;
  width: 320px;
  height: 320px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-content {
  width: 280px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-content > h2 {
  font-family: "Karla", sans-serif;
  font-size: 25px;
  color: #2b283a;
}

.card-content > p {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  width: 230px;
  color: #4a4e74;
}

.allDice {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  width: 260px;
  margin: 1.5em 0;
}

.card-content > button {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  padding: 0.3em 1.8em;
  background-color: #5035ff;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}
